# Unreal Engine 기본
Binaries/
DerivedDataCache/
Intermediate/
Saved/
DerivedDataCache/
.vs/
.idea/
*.VC.db
*.sln
*.suo
*.user
*.userprefs

# 백업 파일
*.tmp
*.log
*.obj
*.pch

# 빌드 결과
*.pdb

# OS 관련
.DS_Store
Thumbs.db
